*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overscroll-behavior: none;
}
:root{
    --color-primario:#004a91;
    --color-secundario: white;
    --impacto: rgb(11, 11, 11);
}